*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: space-around;
}
.logo{
    width: 100%;
    height: 40vh;
    background-image: url('../resources/logo.png');
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: center;
    background-color: cornflowerblue;
}
.d-flex{
    width:75%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #f1f1f1;
    
}
.card:hover{
    box-shadow: 10px 10px 20px grey;

}
.flex-fill{
    text-align: center;
}
img{
    height: 25vh;
    width: 50vw;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .flex-row {
        display: flex;        
        width: 100%;
        flex-direction:column;
        margin-bottom: 20px;
    }
}
