<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Rock Paper Scissors</title>
</head>

<body>
  <header>
    <div class="logo">
      <div class="container">
        <div style="display: flex;padding: 10px;">
          <div class="card" style="width: 18rem;">
            <a>
              <img src="{{ url_for('static', filename=result[1]) }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title"><center>{{result[0]}}</center></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 flex-fill justify-content-center bd-highlight">
        <div class="card" style="width: 18rem;">
          <a href="/rock">
            <img src="{{ url_for('static', filename='assets/rock.png') }}" class="card-img-top" alt="..." onclick="">
          </a>
          <div class="card-body">
            <h5 class="card-title">Rock</h5>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill justify-content-center bd-highlight">
        <div class="card" style="width: 18rem;">
          <a href="/paper">
            <img src="{{ url_for('static', filename='assets/paper.png') }}" class="card-img-top" alt="..." onclick="">
          </a>
          <div class="card-body">
            <h5 class="card-title">Paper</h5>
          </div>
        </div>
      </div>
      <div class="p-2 flex-fill justify-content-center bd-highlight">
        <div class="card" style="width: 18rem;">
          <a href="/scissors">
            <img src="{{ url_for('static', filename='assets/scissors.png') }}" class="card-img-top" alt="..."
              onclick="">
          </a>
          <div class="card-body">
            <h5 class="card-title">Scissors</h5>
          </div>
        </div>
      </div>
    </div>
    <footer>

    </footer>
</body>

</html>